
.section {
  background-image: url("./assets/Masthead.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 525px; /
  p {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    text-align: left;
    
    color:#F8F8F8;    ;
  }
}
.section p {
  
  
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    text-align: left;
    
    color:#F8F8F8;    ;
  
}

.header-container {
  display: flex;
  gap: 40px;
  margin: 20px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;;
  /* margin: 10%; */
}

.product-card {
  gap: 10px;
  padding: 10px;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-details {
  text-align: left;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-color {
  color: #4f4733;
}

.product-material {
  margin-left: 20px;
}

.product-price {
  color: #5a112b;
  margin-top: 0px;
}

.filter-container {
  width: 400px;
  text-align: center;
  margin-top: 50px;
}


ul li {
  list-style-type: none;
}


.header-container button{
  cursor: pointer;
  margin-left: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #4f4733;
  color:#F8F8F8;
}
button {
  background:none;
}
